<body>
    <form>
        <div class="container">
            <div class="row" style=" margin-left: 900px;">
                <div class="col-md-auto">
                    <div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MY ACCOUNT
                    </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item " [routerLink]="['/home/profile/']"><img class="card-img-center" src="assets/profile.jpg " height="15 " width="15 ">Profile</a> 
                                <a class="dropdown-item " [routerLink]="['/home/order/']"><img  src="assets/orders.jpg " height="15 " width="15 ">Orders</a> 
                                <a class="dropdown-item " [routerLink]="['/home/payment/']"><img src="assets/payment.jpg " height="15 " width="15 ">Payment</a> 
                                <a class="dropdown-item " [routerLink]="['/home/reward/']"><img src="assets/rewards.jpg " height="15 " width="15 ">Reward</a> 
                                <a class="dropdown-item " [routerLink]="['/home/notification/']"><img src="assets/notification.jpg " height="15 " width="15 ">Notification</a> 
                                <a class="dropdown-item " [routerLink]="['/home/logout/']"><img src="assets/logout.jpg " height="15 " width="15 ">Logout</a> 

                            <!-- <button type="button" class="btn btn-link dropdown-item" (click)="profile();" >Profile</button>
                            <button type="button" class="btn btn-link dropdown-item" (click)="order();">Orders</button>
                            <button type="button" class="btn btn-link dropdown-item"(click)="payment();">Payment</button>
                            <button type="button" class="btn btn-link dropdown-item"(click)="reward();">Rewards</button>
                            <button type="button" class="btn btn-link dropdown-item" (click)="notification();">Notification</button>
                            <button type="button" class="btn btn-link dropdown-item" (click)="logout();">Logout</button> -->
                            <!-- <a class="dropdown-item" href="profile1.html" target="iframe_a" ><img src="profile.jpg " height="15 " width="15 ">MY PROFILE</a>
                            <a class="dropdown-item " href="order.html " target="iframe_a"><img class="card-img-center" src="orders.jpg " height="15 " width="15 ">Orders</a>
                            <a class="dropdown-item " href="payment.html " target="iframe_a"><img src="payment.jpg " height="15 " width="15 ">Payment</a>
                            <a class="dropdown-item " href="rewards.html " target="iframe_a"><img src="rewards.jpg " height="15 " width="15 ">Rewards</a>
                            <a class="dropdown-item " href="notification.html " target="iframe_a"><img src="notification.jpg " height="15 " width="15 ">Notification</a>
                            <a class="dropdown-item " href="logout.html " target="iframe_a"><img src="logout.jpg " height="15 " width="15 ">Logout</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <iframe height="700px" width="100%" name="iframe_a"> </iframe>
    </form>
</body>